#ExperiencePanel, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #e9ecef !important;
  color: black;
  border: solid 1px #e9ecef;
  margin: auto;
}

#ExperiencePanel {
  display: none;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 0rem
}

.social-icons a:hover {
    background-color: #007fff !important;
}

